{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "parserOptions": {
    "project": ["tsconfig.json"]
  },
  "plugins": [],
  "extends": [
		"react-app",
		"airbnb-typescript",
		"plugin:prettier/recommended"
		// "eslint:recommended",
    // "plugin:@typescript-eslint/recommended",
    // "plugin:@typescript-eslint/recommended-requiring-type-checking"
	],
  "rules": {
    //===> eslint core rules
    "no-console": ["error", { "allow": ["info", "warn", "error"] }],
    //===> Import
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "import/order": [
      "error",
      {
        "pathGroups": [
          {
            "pattern": "~/**",
            "group": "external",
            "position": "after"
          }
        ],
        "groups": [
          "builtin",
          "external",
          "internal",
          "unknown",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ]
      }
    ],
    //===> react
    "react/react-in-jsx-scope": "off"
  }
}
