{
  "extends": [
		"stylelint-config-recommended",
		"stylelint-prettier/recommended"
	],
	"plugins": [
    "stylelint-csstree-validator"
  ],
	"rules": {
		"csstree/validator": true,
		"property-no-unknown": null,
		"selector-type-no-unknown": null	}
}
